{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li>Departments</li>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <a href="/departments/create" class="btn btn-primary">Create</a>
        <h1>Departments</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Department id</th>
                    <th>Department Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.id }}</td>
                    <td>{{ department.name }}</td>
                
                    <td>
                        <a href="/departments/{{ department.department_id }}">View</a>
                        <a href="/departments/{{ department.department_id }}/edit">Edit</a>
                        <a href="/departments/{{ department.department_id }}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}