{% extends "base.html" %}
{% block content %}

<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <table>
        <tr>
    <td>{{ form.username.label }}</td>
    <td>{{ form.username }}
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}</td>
        </tr>
        <tr>
    <td>{{ form.password.label }}</td>
    <td>{{ form.password }}
    {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}</td>
        </tr>

    <tr>
        <td>{{ form.is_admin.label }}</td>
        <td>{{ form.is_admin() }}</td>
    </tr>

    </table>
    {{ form.submit(class_="register-link") }}
</form>

{% endblock %}