{% extends "base.html" %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
</head>


<a href="{{ url_for('admin.userpermissions_register') }}">Register New User</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Permissions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr data-entry-id="{{ user.id }}">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
            {% if user.is_admin %}
            Admin            
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="{{ url_for('static', filename='js/click_user_row.js') }}"></script>

{% endblock %}
