{% extends "base.html" %}
{% block navi %}
<li><a href="/">Admin home</a></li>
<li>></li>
<li><a href="{{ url_for('admin.userpermissions') }}">User Permissions</a></li>
<li>></li>
<li><a href="{{ url_for('admin.userpermissions_user',user_id=user.id) }}">{{ user.username }}</a></li>
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smalltable.css') }}">


<p>{{ user.username }}</p>

{% if user.is_admin %}
<p>Admin</p>
{% else %}
<p>Individual Permissions:</p>
<form method="POST">
<table>
    <tr>
        <th>School</th>
        <th>User's Default</th>
        <th>View Info</th>
        <th>View Financial Info</th>
    </tr>
{% for school in schools %}
<tr>
    <td>{{ school.name }}</td>
    <td><input type="radio" name="default" value="{{school.id}}" {% if school.id in primary %} checked {% endif %}></td>
    <td><input type="checkbox" name="basic-{{school.id}}" {% if school.id in basic %} checked {% endif %}></td>
    <td><input type="checkbox" name="finance-{{school.id}}" {% if school.id in finance %} checked {% endif %}></td>
</tr>
{% endfor %}
</table>
<p><input type="submit" value="Confirm Permissions"></p>
</form>
{% endif %}


<p><a href="">Change Password</a></p>
<p><a href="">Delete User</a></p>




{% endblock %}
