{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="{{ url_for('admin.reviewrequests_onboard') }}">Request to Onboard</a></li>
{% endblock %}

{% block content %}
<h3>Existing Requests</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Role</th>
            <th>Requested Start Date</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        {% for item in onboards %}
            <tr data-entry-id="{{ item.id }}">
     
                <td>{{ item }}</td>
                <td>{{ item.r2r.role.department }}</td>
                <td>{{ item.r2r.role }}</td>
                <td>{{ item.startdate }}</td>
                <td>{{ item.request.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>
// Add an event listener to table rows
document.addEventListener('DOMContentLoaded', function() {
    var tableRows = document.querySelectorAll('table tr');
    tableRows.forEach(function(row) {
        row.addEventListener('click', function() {
            var entryId = this.getAttribute('data-entry-id');
            if (entryId) {
                window.location.href = '/admin/reviewrequests/onboard/entry/' + entryId;
            }
        });
    });
});
</script>
{% endblock %}

{% block styles %}
<style>
tr:hover {
    background-color: #ccc;
    cursor: pointer;
}
</style>
{% endblock %}
