{% extends "base.html" %}
{% block content %}
<style>
.my-submit-button {
background-color: green;
color: white;
padding: 15px 30px;
border: none;
cursor: pointer;
border-radius: 5px;
margin: 1px;

}

.container {
text-align: center;
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
color: #333333;
}
.container p {
color: #666666;
margin-bottom: 20px;
}
.container a {
display: inline-block;
padding: 10px 20px;
background-color: #3498db;
color: #ffffff;
text-decoration: none;
border-radius: 5px;
}
.container a:hover {
background-color: #2980b9;
}
</style>

<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">


<div class="container">
<h1>Welcome to Alpha Schools HR Management</h1>
<p>Please log in to continue.</p>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.username.label(class="form-control-label") }}
    {{ form.username(class="form-control") }}
    </div>

    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
        
    <div class="form-group">
    {{ form.password.label(class="form-control-label") }}
    {{ form.password(class="form-control") }}
    </div>

    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>{{ form.submit(class_="my-submit-button") }}</p>
</form>
</div>


{% endblock %}
