{% extends "base.html" %}
{% block content %}

<h2>Hello {{current_user.username}}</h2>
<p><a href="#">Group Overview</a></p>
<p><a href="{{ url_for('admin.stafflist') }}">Find Someone</a></p>
<p>Review Requests</p>
<ul>
    <li><a href="#">Request to Recruits</a></li>
    <li><a href="#">Onboarding Forms</a></li>
    <li><a href="{{ url_for('admin.reviewrequests_variation') }}">Variation to Contract</a></li>
</ul>

<p><a href="{{ url_for('admin.userpermissions') }}">Users and Permissions</a></p>
<p><a href="#">Change Log</a></p>


{% endblock %}
