{% extends "base.html" %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="{{ url_for('admin.stafflist') }}">Staff List</a></li>
<li>></li>
<li> <a href="{{ url_for('admin.stafflist_staff',staff_id=staff.id ) }}">{{ staff.firstname }} {{ staff.lastname }}</a></li>
<li>></li>
<li> <a href="{{ url_for('admin.stafflist_staff_edit',staff_id=staff.id ) }}">Edit</a></li>
{% endblock %}

{% block content %}

<style>
    /* Style for tabs */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-bottom: 0px solid #ccc;

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style for tab content */
.tabcontent {
    display: none;
    padding: 15px;
    padding-top: 10px;
    border: 2px solid #ccc;
}

.tabcontent h3 {
    margin-top: 0;
}

</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">


<h2>{{staff.firstname}} {{staff.lastname}}</h2>
<div class="tab-container">
    <div class="tab">
        <!-- <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'tab1')">Basic</button> -->
        <!-- <button class="tablinks" onclick="openTab(event, 'tab2')">Personal</button> -->
        <!-- <button class="tablinks" onclick="openTab(event, 'tab4')">Contract</button> -->
        <!-- <button class="tablinks" onclick="openTab(event, 'tab5')">Financial</button> -->
        <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'tab6')">Personal</button>
        <button class="tablinks" onclick="openTab(event, 'tab7')">Role</button>
    </div>

    <form method="post">
        {{ pform.hidden_tag() }}
        {{ rform.hidden_tag() }}
    <div id="tab1" class="tabcontent">
        <table>
            <tr><td>First Name</td><td>{{ staff.firstname }}</td></tr>
            <tr><td>Last Name</td><td>{{ staff.lastname }}</td></tr>
            <tr><td>School</td><td>{{ staff.role.school.name }}</td></tr>
            <tr><td>Department</td><td>{{ staff.role.department }}</td></tr>
            <tr><td>Role</td><td>{{ staff.role.role }}</td></tr>
        </table>
    </div>

    <div id="tab2" class="tabcontent" style="display: none;">
        <table>
            <tr><td>Date of Birth</td><td>{{ staff.dob }}</td></tr>
            <tr><td>Gender</td><td>{{ staff.gender }}</td></tr>
            <tr><td>Marital Status</td><td>{{ staff.marital }}</td></tr>
            <tr><td>Postcode</td><td>{{ staff.postcode }}</td></tr>
            <tr><td>Home Address</td><td>{{ staff.home_address }}</td></tr>
            <tr><td>Personal Email</td><td>{{ staff.email }}</td></tr>
         
        </table>
    </div>

    <div id="tab4" class="tabcontent" style="display: none;">
        <table>
            <tr><td>Start Date</td><td>{{ staff.startdate }}</td></tr>
            <tr><td>Full/Part Time</td><td>{{ staff.role.ftpt }}</td></tr>
            <tr><td>Hours per Week</td><td>{{ staff.role.weekhours }}</td></tr>
            <tr><td>Year Round or Term Time</td><td>{{ staff.role.contract }}</td></tr>
            <tr><td>Holiday Entitlement</td><td>{{ staff.role.holiday }}</td></tr>
            <tr><td>Notice Period</td><td>{{ staff.role.notice }}</td></tr>
        </table>
    </div>
    <div id="tab5" class="tabcontent" style="display: none;">
        <table>
            <tr><td>Salary</td><td>{{ staff.salary }}</td></tr>
            <tr><td>National Insurance Number</td><td>{{ staff.nino }}</td></tr>
            <tr><td>National Insurance Category</Inp></td><td>{{ staff.nic }}</td></tr>
            <tr><td>Tax Code</Inp></td><td> - </td></tr>
            <tr><td>Pension Scheme</td><td>{{ staff.role.pension }}</td></tr>
            <tr><td>Contribution Rates (EE/ER)</td><td>{{ staff.role.pension }}</td></tr>
        </table>
    </div>
    <div id="tab6" class="tabcontent" style="display: none;">
        <table>
            <tr><td>First Name</td><td>{{ pform.firstname }}</td></tr>
            <tr><td>Last Name</td><td>{{ pform.lastname }}</td></tr>
            <tr><td>Date of Birth</td><td>{{ pform.dob }}</td></tr>
            <tr><td>Gender</td><td>{{ pform.gender }}</td></tr>
            <tr><td>Marital Status</td><td>{{ pform.marital }}</td></tr>
            <tr><td>Postcode</td><td>{{ pform.postcode }}</td></tr>
            <tr><td>Home Address</td><td>{{ pform.home_address }}</td></tr>
            <tr><td>Personal Email</td><td>{{ pform.email }}</td></tr>
            <tr><td>National Insurance Number</td><td>{{ pform.nino }}</td></tr>
            <tr><td>National Insurance Category</Inp></td><td>{{ pform.nic }}</td></tr>
            <tr><td>Start Date</td><td>{{ pform.startdate }}</td></tr>
        </table>
    </div>
    <div id="tab7" class="tabcontent" style="display: none;">
        <table>
            <tr><td>School</td><td>{{ staff.role.school }}</td></tr>
            <tr><td>Department</td><td>{{ rform.department_id }}</td></tr>
            <tr><td>Role</td><td>{{ rform.role(class="wider-input") }}</td></tr>
            <tr><td>Full/Part Time</td><td>{{ rform.ftpt }}</td></tr>
            <tr><td>Hours per Week</td><td>{{ rform.weekhours }}</td></tr>
            <tr><td>Year Round or Term Time</td><td>{{ rform.contract }}</td></tr>
            <tr><td>Holiday Entitlement</td><td>{{ rform.holiday }}</td></tr>
            <tr><td>Notice Period</td><td>{{ rform.notice }}</td></tr>
            <tr><td>Salary</td><td>{{ rform.salary }}</td></tr>
            <tr><td>Pension Scheme</td><td>{{ rform.pension }}</td></tr>
        </table>
    </div>

</div>

<input type="submit" value="Submit">
</form>







<script>
    function openTab(evt, tabName) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// To show a default tab on page load
document.getElementById("defaultOpen").click();

</script>

<style>
    .wider-input {
        width: 300px;  /* Adjust the width according to your needs */
    }
</style>


{% endblock %}
