{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li>Staff</li>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Staff</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Staff id</th>
                    <th>School</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role Name</th>
                    <th>Department</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in staff %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.role.school }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.role.department }}</td>
                    <td>{{ item.startdate }}</td>
                
                    <td>
                        <a href="/staff/{{ item.id }}">View</a>
                        <a href="/staff/edit/{{ item.id }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="pagination" style="text-align: center; margin-top: 10px;">
    {% if staff.has_prev %}
        <a href="{{ url_for('models.staff_list', page=staff.prev_num) }}">Prev </a>
    {% endif %}
    <span style="padding-left: 10px; padding-right: 10px;">Page {{ staff.page }} of {{ staff.pages }}</span>
    {% if staff.has_next %}
        <a href="{{ url_for('models.staff_list', page=staff.next_num) }}"> Next</a>
    {% endif %}
</div>

<br>

<style>
    .pagination {
        display: flex;
        justify-content: center;
    }
</style>

{% endblock %}