{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">


<style>

table{
        width: 90%;
    }

td input{
        width:90%
    }

</style>


<div class="container" style="padding: 10px;">
<h1 style="margin-block-start: 0;">Request Variation to Contract</h1>
<h4>Date of Request: <output id="currentDate"></output> </h4>
<h3>{{ staff.school }}</h3>
<h2>{{ staff }}</h2>


<form method="post">
    <td>{{ form.hidden_tag() }}</td>
<table>
<tr>
    <th></th>
    <th>Current</th>
    <th>Request</th>

</tr><tr>
    <td>{{ form.department_id.label }}</td>
    <td>{{ staff.department.name }}</td>
    <td>{{ form.department_id }}</td>
</tr><tr>
    <td>{{ form.role.label }}</td>
    <td>{{ staff.role }}</td>
    <td>{{ form.role }}</td>
</tr><tr>
    <td>{{ form.salary.label }}</td>
    <td>{{ staff.salary }}</td>
    <td>{{ form.salary }}</td>
</tr><tr>
    <td>{{ form.pension.label }}</td>
    <td>{{ staff.pension }}</td>
    <td>{{ form.pension }}</td>
</tr><tr>
    <td>{{ form.ftpt.label }}</td>
    <td>{{ staff.ftpt }}</td>
    <td>{{ form.ftpt }}</td>
</tr><tr>
    <td>{{ form.weekhours.label }}</td>
    <td>{{ staff.weekhours }}</td>
    <td>{{ form.weekhours }}</td>
</tr><tr>
    <td>{{ form.contract.label }}</td>
    <td>{{ staff.contract }}</td>
    <td>{{ form.contract }}</td>
</tr><tr>
    <td>{{ form.holiday.label }}</td>
    <td>{{ staff.holiday }}</td>
    <td>{{ form.holiday }}</td>
</tr><tr>
    <td>{{ form.notice.label }}</td>
    <td>{{ staff.notice }}</td>
    <td>{{ form.notice }}</td>
</tr>
</table>
<p>If Variation is outside the realm of the attrributes above, please contact Alpha Central Support <a href="mailto:example@example.com?subject=Variation%20Request&body=Dear%20Human Resource Team,%0A%0A">here</a></p>

<div class="form-group">
    {{ form.justification.label(class="form-control-label") }}
    {{ form.justification(class="form-control") }}
</div>

    {{ form.budgeted.label }}
    {{ form.budgeted }}
    <br>
    {{ form.effect_date.label }}
    {{ form.effect_date }}
    <br>
    {{ form.submit }}
</form>
</div>


<script>
    var today = new Date();
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    var formattedDate = today.toLocaleDateString('en-GB', options);
    document.getElementById('currentDate').innerText = formattedDate;
</script>

{% endblock %}
