{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('user.requestforms_variation_form') }}">New Request</a>

<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">


<h3>Pending Requests</h3>
<table>
    <thead>
        <tr>
            <th>Staff Member</th>
            <th>Date of Request</th>
            <th>Status</th>
            <th>Requester</th>
        </tr>
    </thead>
    <tbody>
        {% for item in variations %}
            <tr data-entry-id="{{ item.id }}">
                <td>{{ item.staff.firstname }} {{ item.staff.lastname }}</td>
                <td>{{ item.request_date }}</td>
                <td style="background-color: yellow;">Pending</td>
                <td>{{ item.user.username }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
