{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}


{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="{{ url_for('user.requestforms_variation_pending') }}">Variation to Contract</a></li>
{% endblock %}
{% block content %}

<a href="{{ url_for('user.requestforms_variation_form') }}" class="btn btn-primary">New Request</a>



<h3>Pending Requests</h3>
<table>
    <thead>
        <tr>
            <th>Staff Member</th>
            <th>Date of Request</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in variations %}
            <tr data-entry-id="{{ item.id }}">
                <td>{{ item.staff.firstname }} {{ item.staff.lastname }}</td>
                <td>{{ item.request_date }}</td>
                <td>{{ item.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
