{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li>Change Log</li>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Changes Made</h1>
        <table class="table table-striped">
            <thead>
                <th>Type</th>
                <th>ID</th>
                <th>Name</th>
                <th>Attribute</th>
                <th>Old</th>
                <th>New</th>
                <th>Changed at</th>
                <th>Changed by</th>
            </thead>
            <tbody>
                {% for change in changes %}
                <tr>
                    <td>{{ change.object_type }}</td>
                    <td>{{ change.object_id }}</td>
                    <td>{{ change }}</td>
                    <td>{{ change.attribute_changed }}</td>
                    <td>{{ change.old_value }}</td>
                    <td>{{ change.new_value }}</td>
                    <td>{{ change.datetime }}</td>
                    <td>{{ change.user.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     
    </div>
{% endblock %}