{% extends "base.html" %}
{% block content %}


<style>
   

    .container {
        text-align: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
        color: #333333;
    }

    .container p {
        color: #666666;
        margin-bottom: 20px;
    }

    .container a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
    }

    .container a:hover {
        background-color: #2980b9;
    }
</style>


<body>
    <div class="container">
        <h1>Welcome to Alpha Schools HR Management</h1>
        <p>Please log in to continue.</p>
    </div>
</body>


{% endblock %}
