{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="/r2r">Request to Recruits</a></li>
<li>></li>
{% if r2r %}
<li>{{r2r.role}}</li>
{% else %}
<li>Create</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="container">
<h1>Request to Recruit</h1>

<form method="post">
    {{ rform.hidden_tag() }}
    {{ rqform.hidden_tag() }}
<table>
<tr>
    <th></th>
    <th>Request</th>
</tr><tr>
    {% if current_user.is_admin %}
    <td>{{ rform.school_id.label }}</td>
    <td>{{ rform.school_id }}</td>
    {% endif %}
</tr><tr>
    <td>{{ rform.department_id.label }}</td>
    <td>{{ rform.department_id }}</td>
</tr><tr>
    <td>{{ rform.role.label }}</td>
    <td>{{ rform.role }}</td>
</tr><tr>
    <td>{{ rform.salary.label }}</td>
    <td>{{ rform.salary }}</td>
</tr><tr>
    <td>{{ rform.pension.label }}</td>
    <td>{{ rform.pension }}</td>
</tr><tr>
    <td>{{ rform.ftpt.label }}</td>
    <td>{{ rform.ftpt }}</td>
</tr><tr>
    <td>{{ rform.weekhours.label }}</td>
    <td>{{ rform.weekhours }}</td>
</tr><tr>
    <td>{{ rform.contract.label }}</td>
    <td>{{ rform.contract }}</td>
</tr><tr>
    <td>{{ rform.holiday.label }}</td>
    <td>{{ rform.holiday }}</td>
</tr><tr>
    <td>{{ rform.notice.label }}</td>
    <td>{{ rform.notice }}</td>
</tr>
</table>

<div class="form-group">
    {{ rqform.justification.label(class="form-control-label") }}
    {{ rqform.justification(class="form-control") }}
</div>

    {{ rqform.budgeted.label }}
    {{ rqform.budgeted }}
    <br>
    Estimated Start Date:
    {{ rqform.effect_date }}
    <br>
    <input type="submit" value="Submit">



</form>  
</div>


{% endblock %}
