{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="/r2rs">Request to Recruits</a></li>
<li>></li>
<li>{{r2r.role}}</li>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
<div class="container">
<h1>Request to Recruit</h1>


<table class="table table-striped">
<thead>
<tr>
    <th></th>
    <th>Request</th>
</tr>
</thead>
<tbody>
<tr>
    {% if current_user.is_admin %}
    <td>School</td>
    <td>{{ r2r.role.school }}</td>
    {% endif %}
</tr><tr>
    <td>Department</td>
    <td>{{ r2r.role.department }}</td>
</tr><tr>
    <td>Role Title</td>
    <td>{{ r2r.role.role }}</td>
</tr><tr>
    <td>Salary</td>
    <td>{{ r2r.role.salary }}</td>
</tr><tr>
    <td>Pension</td>
    <td>{{ r2r.role.pension }}</td>
</tr><tr>
    <td>Full/Part Time</td>
    <td>{{ r2r.role.ftpt }}</td>
</tr><tr>
    <td>Hours per week</td>
    <td>{{ r2r.role.weekhours }}</td>
</tr><tr>
    <td>Contract</td>
    <td>{{ r2r.role.contract }}</td>
</tr><tr>
    <td>Holiday</td>
    <td>{{ r2r.role.holiday }}</td>
</tr><tr>
    <td>Notice</td>
    <td>{{ r2r.role.notice }}</td>
</tr>
</tbody>
</table>

<div class="form-group">
    <div class="form-control-label">Justification</div>
    <div class="form-control">{{ r2r.justification }}</div>
</div>

    Budgeted?
    {{ r2r.budgeted }}
    <br>
    Estimated Start Date:
    {{ r2r.effect_date }}
    <br>
 
</div>

{% if current_user.is_admin %}
<div class="container">
<form action="{{url_for('models.r2r_approval',r2r_id=r2r.id)}}" method="post">
    {{ aform.hidden_tag() }}
    <table class="table">
        <tr>
            <td>
            {{ aform.status.label }}
            {{ aform.status }}
        </td><td>
            <input type="submit" value="Confirm Decision">
        </td>
        </tr>
    </table>     
        
</form>
</div>
{% endif %}
</div>

<div class="col-md-3">
    <div style="padding: 5px;">
    
    <h3>Comments</h3>
    <form action="{{url_for('models.r2r_sendcomment',r2r_id=r2r.id)}}" method="POST">
        {{ cform.hidden_tag() }}
        <input type="submit" value="Post Comment">
        {{ cform.content(class="form-control") }}
      
    </form>
    
    {% for comment in comments %}
    {% if comment.user_id == current_user.id %}
    <div class="form-group" style="background-color: lightskyblue;">
    {% else %}
    <div class="form-group">
    {% endif %}
        <div class="form-control-label">{{ comment.user }}</div>
        <div class="form-control">{{ comment.content }}</div>
    </div>
    {% endfor %}
    </div>
    </div>
</div>



</div>

{% endblock %}
