{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="{{ url_for('user.requestforms_r2r_pending') }}">Request to Recruit</a></li>
{% endblock %}

{% block content %}
<a href="{{url_for('user.requestforms_r2r_form')}}" class="btn btn-primary">New Request</a>

<h3>Existing Requests</h3>
<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Role</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        {% for item in r2rs %}
            <tr data-entry-id="{{ item.id }}">
     
                <td>{{ item.department }}</td>
                <td>{{ item.role }}</td>
                <td>{{ item.request_date }}</td>
                <td>{{item.status}}</td>
                <td><a href="{{url_for('user.requestforms_r2r_edit',r2r_id=item.id)}}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
