{% extends "base.html" %}

{% block navi %}
<li><a href="#">User home</a></li>
<li>></li>
<li><a href="#">Request to Recruit</a></li>
{% endblock %}





{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">


<a href="{{url_for('user.requestforms_r2r_form')}}">New Request</a>

<h3>Existing Requests</h3>
<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Role</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        {% for item in r2rs %}
            <tr data-entry-id="{{ item.id }}">
     
                <td>{{ item.department }}</td>
                <td>{{ item.role }}</td>
                <td>{{ item.request_date }}</td>
                {% if item.approved %}
                <td style="background-color: lightgreen;">Approved</td>
                {% else %}
                <td style="background-color: yellow;">Pending</td>
                {% endif %}
                <td><a href="{{url_for('user.requestforms_r2r_edit',r2r_id=item.id)}}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
