{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li>Onboarding Requests</li>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <a href="/onboard/select-r2r" class="btn btn-primary">Create</a>
        <h1>Onboarding Requests</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Onboard id</th>
                    <th>School</th>
                    <th>Role Name</th>
                    <th>Candidate Name</th>
                    <th>Requested By</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in onb %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.r2r.role.school }}</td>
                    <td>{{ item.r2r.role }}</td>
                    <td>{{ item.firstname }} {{ item.lastname }}</td>
                    <td>{{ item.request.user }}</td>
                    <td>{{ item.request.request_date }}</td>
                    <td>{{ item.request.status }}</td>
                
                    <td>
                        <a href="/onboard/read/{{ item.id }}">View</a>
                        <a href="/onboard/update/{{ item.id }}">Edit</a>
                        <form style="display: inline-block;" method="POST" action="{{ url_for('models.onboard_delete', onboard_id=item.id) }}">
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?')">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}