{% extends "base.html" %}

{% block statics %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/smalltable.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
{% endblock %}

{% block navi %}
<li><a href="/">Home</a></li>
<li>></li>
<li><a href="/onboard">Onboarding Requests</a></li>
<li>></li>
<li>{{ onboard.r2r.role }}</li>
{% endblock %}



{% block content %}


<div class="row">
<div class="col-md-6 container">
    <table class="table" style="border: 1px solid black;">
        <tr>
            <th></th>
            <th>Role to Onboard</th>
        </tr>
        <tr>
                <td>School</td>
                <td>{{ onboard.r2r.role.school }}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{ onboard.r2r.role.department }}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{{ onboard.r2r.role }}</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>{{ onboard.r2r.role.salary }}</td>
            </tr>
            <tr>
                <td>Pension</td>
                <td>{{ onboard.r2r.role.pension }}</td>
            </tr>
            <tr>
                <td>FTPT</td>
                <td>{{ onboard.r2r.role.ftpt }}</td>
            </tr>
            <tr>
                <td>Weekhours</td>
                <td>{{ onboard.r2r.role.weekhours }}</td>
            </tr>
            <tr>
                <td>Contract</td>
                <td>{{ onboard.r2r.role.contract }}</td>
            </tr>
            <tr>
                <td>Holiday</td>
                <td>{{ onboard.r2r.role.holiday }}</td>
            </tr>
            <tr>
                <td>Notice</td>
                <td>{{ onboard.r2r.role.notice }}</td>
            </tr>
    </table>
    
{% if current_user.is_admin %}
<form method="post">
{{ aform.hidden_tag() }}
{{ aform.status.label }}
{{ aform.status }}
<button type="submit">Submit</button>
</form>
{% endif %}
</div>

<div class="col-md-5 container">
        <table class="table" style="border: 1px solid black;">
            <tr>
                <th></th>
                <th>Person to Onboard</th>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ onboard.firstname }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ onboard.lastname }}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ onboard.dob }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ onboard.gender }}</td>
            </tr>
            <tr>
                <td>National Insurance Number</td>
                <td>{{ onboard.nino }}</td>
            </tr>
            <tr>
                <td>National Insurance Category</td>
                <td>{{ onboard.nic }}</td>
            </tr>
            <tr>
                <td>Marital Status</td>
                <td>{{ onboard.marital }}</td>
            </tr>
            <tr>
                <td>Home Address</td>
                <td>{{ onboard.home_address }}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>{{ onboard.postcode }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ onboard.email }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ onboard.startdate }}</td>
            </tr>
        </table>
</div>


{% endblock %}
