{% extends "base.html" %}
{% block content2 %}

<div class="wide">
    <div class="wide-content">

<h1>{{ session['active_school_name'] }}</h1>
<a class="change-button"  href="{{ url_for('user.changeschool') }}">Change</a>
</div>
</div>

{% endblock %}

{% block content %}



{% block schoolcontent %}
{% endblock %}


<style>
    .wide {
        color: white;
        background-color: grey;

    }
    .wide-content {
        color: white;
        /* width: 95%; */
        background-color: grey;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        margin: 0 auto;
    }
 
    .wide h1 {
    font-size: 20px;
    margin: 0;
}

.change-button {
    font-size: 15px;
    background-color: #007bff;
    padding: 3px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
}

.change-button:hover {
    background-color: #0056b3;
}


</style>

{% endblock %}
