{% extends "base.html" %}
{% block content %}

<form method="POST">
<div class="wide">
    <div class="wide-content">
<h1><select name="school" id="">
    {% for school in available_schools %}
    <option value="{{school.id}}">{{school.name}}</option>
    {% endfor %}
</select></h1>
<input type="submit" class="change-button" value="Change School">
</div>
</div>
</form>



<style>

.change-button {
    font-size: 15px;
    background-color: greenyellow;
    padding: 3px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
.change-button:hover {
    background-color: rgb(145, 197, 68);
    color: #fff;

}
</style>

{% endblock %}
